<h1>Welcome to the Travel Site</h1>
<p>this is really really cool </p>

<%= @homeland%>
<p></p>


 <% @images.sample 1 do |image, index| %>
 	<%= image_tag image,  width: 500,
 						height:100,
 						class: "img-responsive",		
 						alt: index
 						 %>

<% end %>
